@media screen and (max-width: 992px) {
    .logos{
        margin-left:5px ;
        margin-right: 5px;
        margin-top: 5px;
    }

    .botao-musica{
       display: none;
    }
      
        
}