

body{
    background-color: rgb(84, 204, 204); 
}

header{
    background-color:rgb(84, 204, 204) ;
    width: 100%;
    height: 130px;
    display: flex;
    justify-content:space-between;
}

header .logos{
    margin-left:50px ;
    margin-right: 50px;
    align-items: center;
    height: 100%;
}

header .one-piece{
    width: 200px;
    height: 120px;
    cursor: pointer;
    transition: 0.2s ease-in-out; 
}

header .simbolo-pirata{
    width: 100px;
    height: 100px;
    padding-top: 15px;
    cursor: pointer;
    transition: 0.2s ease-in-out; /* tempo para mudar a cor ao passar  o mouse*/
}

header .simbolo-pirata:hover {
    transform: scale(1.05); /* animaçao ao passar o mouse*/
}

header .one-piece:hover {
    transform: scale(1.05); 
}

main{
    background-color: rgb(84, 204, 204);
    width: 100%;
    display: flex;
    justify-content: center;
}

main .lista-de-cards{
    width: 1400px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

main .cards{
    width: 250px;
    height: 350px;
    background-color: rgb(99, 153, 223);
    transition: 0.2s ease-in-out;
}

main .cards:hover{
    background-color: black;
    transform: scale(1.05);
}

main .nome-membros{
   background-color: rgb(37, 14, 58);
   color: white;
   height: 30px;
   display: flex;
   justify-content: center;
   align-items: center;
   font-weight: bold ;
   font-size: 20px;
   cursor: pointer;
   font-family: 'Nunito', sans-serif;
}

main .imagens-membros{
    display: flex;
    margin: auto;
    margin-top: 10px;
    width: 200px;
    height: 270px;
    cursor: pointer;
}

section .botao-musica{
    background-color: rgb(84, 204, 204);
    border: solid rgb(28, 121, 184);
    border-radius: 10px;
    cursor: pointer;
    position: sticky;
    top: 70%;
    left: 1%;
    transition: 0.2s ease-in-out;
}

section .botao-musica:hover{
    transform: scale(1.05);
}

a {
    color: white;
    text-decoration: none; 
}

